.modal {
    /* display: none; */
    width: 100vw;
    height: 0vh;
    background-color: rgb(31, 31, 31);
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    transition: 0.5s;
}

.modal-container {
    width: 100%;
    padding: 30px 240px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.imdblogo-modal {
    width: 97px;
    height: 47px;
}

.modal-close {
    border-radius: 100%;
    border-style: none;
    background-color: rgb(230, 185, 30);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: rgb(203, 163, 23);
}

.modal-content-head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.modal-title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}

ul>a {
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
    letter-spacing: 0.7px;
}

.modal-content-head>*:first-child {
    color: rgb(230, 185, 30);
}

.tvshows {
    margin-bottom: 40px;
}
