.Grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 60px;
    margin-bottom: 60px;

}

.Grid2__featureToday{
    width: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.Grid2__featureToday__title{
    color: rgb(230, 185, 30);
    font-size: 33px;
    font-weight: 600;
    padding-left: 10px;
}

.Grid2__featureToday__slideshow{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.Grid2__featureToday__slideshow__item{
    width: 100%;
}

.Grid2__featureToday__slideshow__item__image{
    position: relative;
    width: 100%;
    height: 100%;
}

.Grid2__featureToday__slideshow__item__image:hover .Grid2__featureToday__slideshow__item__image__footer i{
    color: rgb(230, 185, 30);
}

.Grid2__featureToday__slideshow__item__image:hover {
    background: radial-gradient(rgb(0, 0, 0),rgb(0, 0, 0, 0),rgb(0, 0, 0, 0));
}

.Grid2__featureToday__slideshow__item__image img{
    
    width: 100%;
    height: 270px; 
    object-fit: cover;
    position: relative;
}

.Grid2__featureToday__slideshow__item__image__footer{
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    align-items: center;
    font-size: 16px;
}

.Grid2__featureToday__slideshow__item__footer{
    color: white;
    cursor: pointer;
    padding-top: 20px;
}

.Grid2__featureToday__slideshow__item__footer:hover{
    text-decoration: underline;
}

.button--prev--feature,
.button--next--feature{
    top: 40%;
}

@media screen and (max-width:1024px){

    .Grid2{
        display: grid;
        grid-template-columns:1fr;
        margin-top: 60px;
        margin-bottom: 60px;
    
    }

}