.landpage_footer{
    height: 30vh;
    padding: 10px 150px;
    font-family: 'Roboto', sans-serif;;
}

.landpage_footer__social_media_icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.landpage_footer__social_media_icon i{
    margin: 0px 20px 30px 20px;
    cursor: pointer;
}

.landpage_footer__social_media_icon button{
    background-color: black;
    
}

.landpage_footer__links{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landpage_footer__links div{
    margin: 10px 0px;
}

.landpage_footer__links div a{
    margin: 0px 10px;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.landpage_footer__links div a:hover{
    text-decoration: underline;
}