.menu_modal {
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
    position: fixed;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
    animation-name: menu_modal;
    animation-duration: 0.5s;
    overflow: auto;
}

.menu_modal__container {
    width: 100%;
    padding: 30px 240px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}

.menu_modal__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
}

.logo__imdb--menu {
    width: 97px;
    height: 47px;
}

.button--close {
    border-radius: 100%;
    border-style: none;
    background-color: rgb(230, 185, 30);
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: black;
}

.button--close:hover {
    background-color: rgb(203, 163, 23);
}

.menu_modal__container__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu_modal__container__content__head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.menu_modal__container__content__head>*:first-child {
    color: rgb(230, 185, 30);
}

.menu_modal__container__content__head__title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
}

ul>a {
    display: block;
    margin-bottom: 11px;
    font-size: 16px;
    letter-spacing: 0.7px;
}

.menu_modal__container__content__tvshows {
    margin-bottom: 40px;
}

@keyframes menu_modal{
    0%{top: -100%;}
    100%{
        top: 0;
    }
}



@media screen and (max-width:1024px){

    .menu_modal{
        width: 310px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s;
        animation-name: side_menu_modal;
        animation-duration: 0.5s;
    }

    .menu_modal__container{
        padding: 20px;
        height: 100%;
    }

    .menu_modal__container__header {
        border-bottom: 1px solid gray;
    }

    .logo__imdb--menu{
        display: none;
    }

    .button--close--tabletview {
        background-color: rgb(31, 31, 31);
        color: white;
    }


    .menu_modal__container__content{
        display: flex;
        flex-direction: column;
    }

    .menu_modal__container__content__text{
        display: none;
    }

    .menu_modal__container__header>*:first-child {
        color: rgb(141, 141, 141);
    }

    .menu_modal__container__content__head__title{
        font-size: 16px;
        font-weight: 400;
    }

    .menu_modal__container__content__tvshows{
        margin-bottom: 0px;
    }


}

@keyframes side_menu_modal{
    0%{left: -100%;}
    100%{
        left: 0;
    }
}
