.button{
    border-style: none;
    outline: none;
    color: white;
}

.navbar{
    background-color: hsl(0,0%,7%);
    display: flex;
    justify-content: space-around;
    height:65px ;
    align-items: center;
    color:hsl(0,0%,95%); 
    width: 100%;
}

.navbar__hambergur_menu{
    display: none;
    outline: none;
    border-style: none;
    background-color: black;
}

.logo__imdb{
    width: 75px;
    height: 37px;
}

.navbar__menu_button{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    border-radius: 3px;
    height: 37px;
    width: 90px;
    display: flex;
    color: hsl(0,0%,95%); 
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 0px 5px;
}

.navbar__menu_button:hover{
    background-color:rgb(50,50,50) ;
}

.navbar__menu_button__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar__searchbar{
    display: flex;
    width: 500px;
}

.navbar__searchbar__input{
    /* width: 600px; */
    height: 37px;
    border-style: none;
    padding-left: 10px;
    width: 720px;
}

.navbar__searchbar__input:focus{
    outline: none;
}

.navbar__searchbar__input::-ms-clear{
    display: none;
}

.navbar__searchbar__button{
    background-color: white;
    border-style: none;
    border-radius: 0px 3px 3px 0px;
    height: 37px;
    cursor: pointer;
    padding-right: 7px;
    color: black;
}

.navbar__searchbar__button:hover{
    background-color: rgb(233, 233, 233);
}

.navbar__imdbpro{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 80px;
    height: 37px;
    border-radius: 3px;
}

.navbar__imdbpro:hover{
    background-color:rgb(50,50,50) ;
}

.navbar__imdbpro__text{
    font-family: 'Oswald', sans-serif;
}

.vertical--line--gray{
    border-left: 3px solid rgb(50,50,50);
    height: 37px;
    margin: 0px 5px ;
}

.navbar__watchlist{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 100px;
    height: 37px;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__watchlist:hover{
    background-color:rgb(50,50,50) ;
}

.navbar__watchlist__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar__signin{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 80px;
    height: 37px;
    border-radius: 3px;
}

.navbar__signin:hover{
    background-color:rgb(50,50,50) ;
}

.navbar__signin__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/* end of navbar */

/* .searchbar:focus-within{
    outline:2px solid rgb(230,185,30) ;
    outline-offset: -2px;
    border-radius: 5px;
    transition: outline 0.1s linear;
} */

@media screen and (max-width:1024px){

    .navbar__hambergur_menu{
        display: inline;
    }

    .navbar__menu_button{
        display: none;
    }

    .navbar__imdbpro{
        display: none;
    }

    .navbar__watchlist{
        display: none;
    }

    body{
        margin: 0px;
        width: 98%;
        margin: auto;
    }
}

@media screen and (max-width:600px){


    
}

/* .menulogo{
    width: 30px;
    height: 37px;
} */