*{
    box-sizing: border-box;
    margin: 0px;
    
}


body{
    margin: 0px;
    width: 86%;
    margin: auto;
    height: 100%;
}

button{
    border-style: none;
    outline: none;
}

.navbar{
    background-color: hsl(0,0%,7%);
    display: flex;
    justify-content: space-around;
    height:65px ;
    align-items: center;
    color:hsl(0,0%,95%); 
    width: 100%;
}


.imdblogo{
    width: 75px;
    height: 37px;
}


.menu-button{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    border-radius: 3px;
    height: 37px;
    width: 90px;
    display: flex;
    color: hsl(0,0%,95%); 
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 0px 5px;
}

.menulogo{
    width: 30px;
    height: 37px;
    
}

.menu-button:hover{
    background-color:rgb(50,50,50) ;
}

.menu{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}

.combobox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:37px ;
    
}

.combobutton:hover{
    background-color:rgb(180, 180, 180)
}

.combobutton{
    background-color: white;
    border-style: none;
    height:37px ;
    border-radius: 3px 0px 0px 3px;
    border-right: gray 1px solid;
    width:55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.searchbar{
    display: flex;
    width: 500px;
}

/* .searchbar:focus-within{
    outline:2px solid rgb(230,185,30) ;
    outline-offset: -2px;
    border-radius: 5px;
    transition: outline 0.1s linear;
} */

.search-input{
    /* width: 600px; */
    height: 37px;
    border-style: none;
    padding-left: 10px;
    width: 720px;
}

.search-input:focus{
    outline: none;
}

.search-input::-ms-clear{
    display: none;
}

.searchbutton{
    background-color: white;
    border-style: none;
    border-radius: 0px 3px 3px 0px;
    height: 37px;
    cursor: pointer;
    padding-right: 15px;
}

.imdbpro{
    font-family: 'Oswald', sans-serif;
}

.imdbpro-button{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 80px;
    height: 37px;
    border-radius: 3px;
}

.imdbpro-button:hover{
    background-color:rgb(50,50,50) ;
}


.vertical-line{
    border-left: 3px solid rgb(50,50,50);
    height: 37px;
    margin: 0px 5px ;
}

.watchlist{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.watchlist-button{

    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 100px;
    height: 37px;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.watchlist-button:hover{
    background-color:rgb(50,50,50) ;
}

.signin{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.signin-button{
    background-color: hsl(0,0%,7%);
    outline: none;
    border-style: none;
    color: hsl(0,0%,95%); 
    width: 80px;
    height: 37px;
    border-radius: 3px;
}

.signin-button:hover{
    background-color:rgb(50,50,50) ;
}

.sidemenue-button{
    display: none;
    outline: none;
    border-style: none;
    background-color: black;
}


@media screen and (max-width:1024px){

    .menu-button{
        display: none;
    }

    .imdbpro-button{
        display: none;
    }

    .watchlist-button{
        display: none;
    }

    .sidemenue-button{
        display: inline;
    }

    body{
        margin: 0px;
        width: 98%;
        margin: auto;
    }



    
}

@media screen and (max-width:600px){


    
}

