.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    row-gap: 10px;
    overflow: hidden;
}

.grid3__what_to_watch__title {
    grid-column: 1/ span 3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid3__what_to_watch__title__header{
    color: rgb(230, 185, 30);
    font-size: 33px;
    font-weight: 600;
}

.grid3__what_to_watch__title__recommendation{
    color: rgb(79,139,217);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.grid3__what_to_watch__title__recommendation i{
    color: rgb(79,139,217)
}

.grid3__top_pick {
    grid-column: 1/span 3;
}

.grid3__top_pick__button{
    background: black;
    border-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px;
}

.grid3__top_pick__button__title{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}

.grid3__top_pick__button__title__text{
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.grid3__top_pick__button__description__span{
    color: rgb(179,179,179);
    font-size: 17px;
    font-weight: 400;
}

.grid3__sign_in{
    color:rgb(79,139,217) ;
    cursor: pointer;
    margin: 10px 0px;
}

.grid3__sign_in:hover{
    text-decoration: underline;
}

.grid3__what_to_watch__slideshow{
    display: grid;
    grid-template-columns: repeat(1000, calc(8.33333% - .91667 * 1.5rem - 0rem));
    gap: 24px;
    position: relative;
    grid-column: 1/span 3;
    overflow: hidden;
}

.grid3__what_to_watch__slideshow .slide{
    grid-column-start:span 2 !important;
}

.vertical--line--yellow{
    border-left: 4px solid rgb(230, 185, 30);
    height: 30px;
    margin: 0px 5px ;
}

.grid3__what_to_watch__slideshow__item{
    grid-column-start:span 1 !important;
    grid-column-end: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(26,26,26);
    border-radius: 3px;
    position: relative;
}

.grid3__what_to_watch__slideshow__item__image{
    width: 100%;
}

.grid3__what_to_watch__slideshow__item__image img{
    width: 100%;
    height: 275px;
    object-fit: cover;
}

/* .wtw-slider-item > i{
    position: absolute;
    top:0;
    left: 0;
    color: black;
    opacity: 50%;
} */

/* .wtw-slider-item button{
    cursor: pointer;
    border-style: none;
} */

.poster__icon__plus--sm{
    position: absolute;
    top: 13px;
    left: 11px;
    opacity: 1;
    color: white;
}

.grid3__what_to_watch__slideshow__item__rating{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px;
}

.grid3__what_to_watch__slideshow__item__rating__imdb i{
    color:rgb(230, 185, 30) ;
}

.grid3__what_to_watch__slideshow__item__rating__imdb__number{
    color: gray;
}

.grid3__what_to_watch__slideshow__item__rating__button{
    background-color:rgb(26,26,26) ;
    width: 50px;
    border-radius: 5px;
}

.grid3__what_to_watch__slideshow__item__rating__button i{
    color: gray;
}

.grid3__what_to_watch__slideshow__item__rating__button:hover{
    background-color:rgb(49, 49, 49) ;
}

.grid3__what_to_watch__slideshow__item__title{
    color: white;
    cursor: pointer;
    height: 2.5rem;
    padding: 5px 10px;
}

.grid3__what_to_watch__slideshow__item__title:hover{
    text-decoration: underline;
}

.grid3__what_to_watch__slideshow__item__watchoption{
    padding: 5px 10px;
}

.grid3__what_to_watch__slideshow__item__watchoption__button{
    color: rgb(79,139,217);
    background-color: rgb(44,44,44);
    width: 100%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid3__what_to_watch__slideshow__item__watchoption__button:hover{
    background-color:rgb(73, 73, 73) ;
}

.grid3__what_to_watch__slideshow__item__watchoption__button i{
    color: rgb(79,139,217);
}

.grid3__what_to_watch__slideshow__item__trailer{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.grid3__what_to_watch__slideshow__item__trailer__playbutton{
    background-color: rgb(26,26,26);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.grid3__what_to_watch__slideshow__item__trailer__infobutton{
    background-color: rgb(26,26,26);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.grid3__what_to_watch__slideshow__item__trailer__playbutton:hover , .grid3__what_to_watch__slideshow__item__trailer__infobutton:hover{
    background-color: rgb(44,44,44);
}

.button--prev--wtw,
.button--next--wtw{
    top: 30%;
}

@media screen and (max-width:1024px) {

    .grid3__what_to_watch__slideshow .slide{
        grid-column-start:span 4 !important;
    }
    

    .grid3__what_to_watch__slideshow__item{
        grid-column-start:span 4 !important;
    }

}